[mysqld]
user = mysql                                  # Запуск от пользователя mysql
pid-file = /run/mysqld/mysqld.pid             # Файл PID
socket = /run/mysqld/mysqld.sock              # Unix-сокет
datadir = /var/lib/mysql                      # Папка хранения БД
log-error = /var/log/mysql/error.log          # Лог ошибок
bind-address = 0.0.0.0                        # Слушать все IP (для docker-сети)

[client]
socket = /run/mysqld/mysqld.sock              # Тот же сокет для клиента
